*{
  box-sizing: border-box;
}

html,body{
  width :100%;
  height: 1fr;
}

.G-grid{
  display: grid;
  width: 1000px;
  height: 800px;
  background-color: darkgrey;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
}
.grid-a{
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: darkseagreen;
}
.grid-b{
  grid-column-start:6;
  grid-column-end: 11;
  background-color: darkgoldenrod;
}
.grid-c{
  grid-column-start:1;
  grid-column-end:7;
  background-color:darkcyan ;
}
.grid-d{
  grid-column-start: 7;
  grid-column-end: 11;
  background-color: darkslateblue;
}