@import "reset.css";
@import "font.css";
@import "tables.css";


html, body{
  box-sizing: border-box;
  background-color: #111111;
}

.header{
  padding: 30px 0px;
  color: white;
  font-size: 1.8rem;
  text-align:center;
}
.dash-div{
  display: grid;
  grid-template-columns: repeat(20,1fr);
  padding: 0px 20px;
}

.graph-div{grid-column-start: 1; grid-column-end:14}
.table-div{grid-column-start: 14; grid-column-end: 21;}
.figure-div{grid-column-start:1; grid-column-end:21;}

#output{
  color:white;
  font-size: 25px;
}